ul{
    padding: 0;
}
li{
    list-style: none;
}
p{
    font-family: "Noto Sans KR", sans-serif;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.hide{
    display: none;
    font-size: 0;
}
.none{
    display: none;
}
.flexcenter{
    display: flex;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.font0{
    font-size: 0 !important;
}
.flex{
    display: flex;
}
.show{
    display: block !important;
}
.one{
    opacity: 1 !important;
}
dl {
    display: block;
    margin-left: 0;
    margin-right: 0;
}
 
dt {
    display: block;
}
 
dd {
    display: block;
}
.vh100{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.pp{
    font-size: 20px;
    text-align: center;
    color: #666;
    margin-bottom: 55px;
}

/* 폰트 */
.cat{
    
    margin-bottom: 20px;
}