#personal{

}
#personal .wrap{
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  align-items: center;
}
#personal .wrap h2{
  justify-self: start;
  font-size: 30px;
  /*! font-weight: bold; */
  line-height: 5;
}
#personal .wrap ul.list{
  display: flex;
  grid-column: 1;
  justify-self: start;
  grid-row: 1;
  align-self: end;
  display: none;
}
#personal .wrap ul.list li{
   
}
#personal .wrap ul.list li a{
  display: block;
  text-align: center;
  padding: 0 10px;
  line-height: 1.5;
  font-size: 15px;
}
#personal .wrap ul.list li a:first-child{
  padding-left: 0;
}
#personal .wrap ul.list li a::before{
  /*! display: block; */
  content: "";
  background: url(../img/s.jpg) no-repeat center /contain;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#personal .wrap .stiker{
  grid-column: 1;
  display: flex;
  width: 800px;
  flex-direction: column;
  height: 700px;
}
#personal .wrap .stiker article:not(:first-child){
  /*! display: none; */
}
#personal .wrap .stiker article{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  width: 100%;
  align-items: center;
  height: fit-content;
  justify-items: center;
  width: 800px !important;
}
#personal .wrap .stiker article::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 500px;
  grid-column:  1;
  grid-row: 1;
}
#personal .wrap .stiker article.person1::after{
  background: url(../img/school-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person2::after{
  background: url(../img/barista-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person3::after{
  background: url(../img/edu-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article >span{
  /*! position: absolute; */
  width: 300px;
  bottom: 28%;
  right: 16%; 
  grid-row: 2;
   position: absolute;
  width: 300px;
  top: -9px;
  left: 0; 
}
#personal .wrap .stiker article span h3{
  line-height: 1.5;
  color: #444;
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  font-size: 40px;
}
#personal .wrap .stiker article span p{
  line-height: 1.5;
  color: #444;
  grid-column: 2;
  grid-row: 3;
  align-self: start;
}
#personal .wrap .stiker article span p span{
  
}
#personal .wrap .stiker article ul{
  display: flex;
  grid-column: 2;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#personal .wrap .stiker article ul li{
  text-align: center;
  line-height: 2;
  padding: 0 20px;
  color: #222;
  /*! width: calc(100% / 3); */
}
#personal .wrap .stiker article ul li::before{
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: url(../img/ch.jpg) no-repeat center /cover;
  border-radius: 50%;
}
#personal .wrap .stiker article ul li:last-child{
  padding-right: 0;
}
#personal .wrap .stiker article.person1 ul li:nth-child(2)::before{
  background: url(../img/chiness-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person1 ul li:nth-child(3)::before{
  background: url(../img/var.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person2 ul li:nth-child(1)::before{
  background: url(../img/fiting-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person2 ul li:nth-child(2)::before{
  background: url(../img/lib-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person2 ul li:nth-child(3)::before{
  background: url(../img/music-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person3 ul li:nth-child(1)::before{
  background: url(../img/clone-min.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person3 ul li:nth-child(2)::before{
  background: url(../img/study.jpg) no-repeat center /cover;
}
#personal .wrap .stiker article.person3 ul li:nth-child(3)::before{
  background: url(../img/together.jpg) no-repeat center /cover;
}
#personal .wrap .slick-dots li button::before{
  content: "";
  height: 2px;
  width: 20px;
  background-color: #41301d;
  display: block;
}
#personal .wrap .slick-dots{
  left: 350px;
  bottom: -30px;
  width: initial;
  display: flex;
  align-items: center;
}
#personal .wrap .slick-dots li{
}
#personal .wrap span a{
  background: url(../img/nest.png) no-repeat center /contain;
}

/* 슬릭버튼 */
section#personal .wrap .slick-prev{
  left: -60px;
}
section#personal .wrap .slick-prev::before{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/pre.png) no-repeat center /contain;
  opacity: 0.3;
  transition: 1s;
}
section#personal .wrap .slick-prev:hover::before{
  opacity: 1;
  transform: translateX(-5px);
}
section#personal .wrap .slick-next::before{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/next.png) no-repeat center /contain;
  opacity: 0.3;
  transition: 1s;
}
section#personal .wrap .slick-next:hover::before{
  opacity: 1;
  transform: translateX(5px);
}
section#personal .wrap .slick-next{
  right: 860px;
}